<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <div class="wrapper">
    <div class="main">
      <div class="container">
        <div class="main-item__row">
            <div class="main-item__column">
                <p>Food</p>
            </div>
            <div class="main-item__column">
              <p>Medicine</p>
            </div>
            <div class="main-item__column">
              <p>Fast-food</p>
            </div>
            <div class="main-item__column">
              <p>Flowers</p>
            </div>
        </div>


        <div class="main__btn">
          <button>Order</button>
        </div>
      </div>
    </div>
  </div>


</body>
</html>
