
  <div class="wrapper">
    <div class="main">
      <div class="container">
                <p>List of items</p>

        <p *ngIf="error; else productsBlock" class="error">{{error}}</p>

        <ng-template #productsBlock>

            <div *ngIf="!loading; else loadingBlock" class="catalog__loading">
                <form action="" method="POST">

                  <div *ngFor="let product of products" class="catalog-product" >
                      <input type="checkbox"  [class.completed]="product.completed">
                      <label>{{product.title | titlecase}}</label>
                      <p>{{product.id}}</p>
                  </div>

                  <input type="submit" value="Order">

                </form>
            </div>

            <ng-template #loadingBlock>
               <p>Loading...</p>
            </ng-template>

        </ng-template>
      </div>
    </div>
  </div>

