.wrapper {
  overflow: hidden;
  min-height: 100%;
  height: 100%;
}
.container{
  height: 100%;
  margin: 0 auto;
  max-width: 1450px;
  p{
    text-align: center;
  }
}
.main{
  padding-top: 1rem;
  height: 90vh;
  width: 100vw;

  background-color: #FFFFF8;
  color: #170C0C;
  font-weight: 600;
  font-size: 1.4em;
  letter-spacing: 2px;
}
.main-item__row{
  display: flex;
  justify-content: space-between;


}
form{
  display: flex;
  flex-direction: column;

  input[type=submit]{
    max-width: 200px;
  }
  .catalog-product{
    max-height: 100px;
    display: flex;
    //justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    border: 1px solid #000;
    margin: 5px 0px;
    padding: 5px;

    .catalog-product__delete{
      margin: 5px;
      background-color: #170C0C;
      color: #FFFFF8;
      padding: 5px;
      line-height: 20px;
      font-size: 15px;
    }

  }

}
